<header class="position-fixed top-0 start-0 bg-light w-100">
  <nav
    class="d-flex flex-column flex-sm-row justify-content-between align-items-center h-100 px-3 py-2 py-sm-1 text-secondary">
    <h1 class="fs-3">ANGULAR</h1>
    <input type="text" placeholder="Find Blog" class="px-2" [(ngModel)]="inputText" (input)="onInput()">
    <button type="button" class="d-flex align-items-center bg-transparent p-1" (click)="showModal()">
      Create Post
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
        viewBox="0 0 16 16">
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>
    </button>
  </nav>
</header>
